<nav class="indigo">
    <div class="nav-wrapper container">
        <a href="#!" class="brand-logo">Emkode</a>
        <ul class="right hide-on-med-and-down">
        <li><a *ngIf="(user | async)?.displayName == null" (click)="login()" class="waves-effect waves-light btn">Iniciar Sesión</a></li>
        <li><a *ngIf="(user | async)?.displayName != null" (click)="logout()" class="waves-effect waves-light btn">Cerrar Sesión</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <h4>{{ (user | async)?.displayName }} </h4>
    <div *ngIf="admin" class="card-panel">
        <h5>Admin</h5>
        
    </div>
</div>